.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("GundamPhoto.png");
    background-attachment:fixed;
    background-size: cover;
    -webkit-background-size: cover;

}


.background {
    background-image: url("GundamPhoto.png");
    background-attachment: scroll;
    background-size: cover;
    -webkit-background-size: cover;
}

.gridContainer {
    display: grid;
    grid-template-columns: 100px auto;
    /* grid-gap: 2px; */
    /* background-color: #2196F3; */
    margin-bottom: 16px;
}

.gridContainer>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 10px 0;
    font-size: 1.2rem;
}

.gridContainer>div>input {
    width: 100%;
    padding: 2px 2px;
    margin: 0px 0;
    box-sizing: border-box;
    font-size: 1.2rem;
}
.list {
    display: flex;
    justify-content:flex-start;
    list-style: none;
    margin: 2px;
    padding: 20px;
    flex-wrap: wrap;
    width: 80vw;
    /* border: 2px solid red;  */
 }
 .listItem {
    width: 30%;
    display:block;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    font-size: 1.4rem;
 }
 .buttonAqua {
    border: none;
    color:black;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 8px 8px 0px 8px;
    cursor: pointer;
    border-radius: 10px;
    background-color:aqua;
 }
 .buttonGreen {
    border: none;
    color:black;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 8px 8px 0px 8px;
    cursor: pointer;
    border-radius: 10px;
    background-color:aquamarine;
 }
 .buttonGreenli {
    border: none;
    color:black;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 8px 8px 0px 8px;
    cursor: pointer;
    border-radius: 10px;
    background-color:cyan;
 }
 .buttonRed {
    border: none;
    color:black;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 8px 8px 0px 8px;
    cursor: pointer;
    border-radius: 10px;
    background-color:crimson;
 }
 .button{
    border: none;
    color:black;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 8px 8px 0px 8px;
    cursor: pointer;
    border-radius: 10px;
    background-color:lightgray;
 }